extends ../layouts/main.jade

block navbar
  ul.navbar.-red
    include ../layouts/partials/navbar-content.jade
  
block content
  .text.-large as i said, i'm jona.
  p.medium.
    tldr; i do development on websites, i can write good code in
    javascript, ruby, haskell and elixir, my github profile is
    <a href='http://github.com/sup'>here</a>. i also do a lot of
    open-source.
