extends ../layouts/main.jade

block navbar
  ul.navigation.navigation-red
    include ../layouts/partials/navbar.jade
  
block content
  h1 as i said, i'm jona.
  p.medium.
    i'm a 16 year old guy from germany. in my free time, i do development on
    websites and stuff like that. here's what people think:
  .quote
    | Too handsome to be a dev.
    span.quote-from #[a(href='http://twitter.com/Nayrune') Nayrune]
  .quote
    | it was the wurst
    span.quote-from #[a(href='http://twitter.com/weeabster') Webster]
  .quote(style='margin-bottom: 30px;')
    | not 2d
    span.quote-from #[a(href='http://twitter.com/rob1nn_') Robin]
  p.medium.
    this is the part where i talk about what i'm good at. i like programming
    languages, specifically <i>javascript</i>, <i>ruby</i> and <i>haskell</i>.
    as for javascript, i primarily use node.js for small apps, but i also
    contribute to the project itself!<br>
    in ruby, i work with a couple of projects using rails, but i also very much
    enjoy making small apps with sinatra.<br>
    i'm still in the process of learning haskell, so check back here later!
  p.medium.
    if you're wondering how to reach out to me, try the email in the menu bar.
    i also have a <a href='http://github.com/sup'>github account</a>.
