extends ../layouts/main.jade

block navbar
  ul.navbar.-red
    include ../layouts/partials/navbar-content.jade
  
block content
  .text.-large as i said, i'm jona.
  .text.-medium.
    i'm jona hugger, 16 years of age, from <a href='https://www.wikiwand.com/en/Solingen'>solingen, germany</a>.
    i primarily do work for <a href='http://retrospring.net'>retrospring</a>, but i also work on a lot of other
    open-source and general internet-y stuff. 
  br
  .text.-medium.
    i am a member of the <a href='https://nodejs.org/en/foundation'>node.js foundation</a>, and frequently
    contribute to the node.js website. also, i'm in the project's to-be <a href='https://github.com/nodejs/inclusivity'>
    inclusivity working group</a>.
  br
  .text.-medium 
    | you can find me on social media, mostly under jona or jonahugger:
    ul
      li.
        on GitHub: <a href='http://github.com/sup'>sup</a>
      li.
        on Twitter: <a href='http://twitter.com/jonahugger'>jonahugger</a>
      li.
        on Retrospring: <a href='http://retrospring.net/jona'>jona</a>
      li.
        on Keybase: <a href='http://keybase.io/j3'>j3</a>
    | if you're on something not listed here, odds are i might be there under jona or jonahugger.
