extends ../layouts/main.jade

block content
  .text.-huge hi, i'm jona.
  .text.-large._lessmargin i have a vibrant slogan
  
  .whitespace.-small
  
  a(href='/about')
    .button.-red
      .title about
      .desc what you (n)ever wanted to know
  a(href='/projects')
    .button.-yellow
      .title projects
      .desc what i do and also what i dont do
  a(href='/blog')
    .button.-green
      .title blog
      .desc my derailed train of thoughts
