extends ../layouts/main.jade

block styles
  link(rel='stylesheet' href='https://brick.a.ssl.fastly.net/Charter:400')
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/index.css')

block content
  .text.-large jona
  .flat-list
    .item nodejs collaborator
    .item drum player
    .item he/him/his
  .flat-list.-no
    a.item(href='http://github.com/sup') github
    a.item(href='http://twitter.com/arrowfunction') twitter
    a.item(href='/projects') projects
    a.item(href='/blog') blog
