extends ../layouts/main.jade

block styles
  link(rel='stylesheet' href='https://brick.a.ssl.fastly.net/Charter:400')
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/index.css')

block content
  span.text.-large jona
  span.flat-list.-no
    a.item(href='http://github.com/sup') github
    a.item(href='http://twitter.com/arrowfunction') twitter
    a.item(href='/projects') projects
    a.item(href='/blog') blog
  br
  br
  span.text.-what i do
  span.flat-list
    .item elixir
    .item erlang
    .item clojure
    .item {c,e}lisp

  audio#oh-god(loop autoplay src='no.mp3' volume='1')