extends ../layouts/main.jade

block content
  .text.-large hi, i'm jona.
  .text.-medium.
    i'm jona hugger, 16 years of age, from <a href='https://www.wikiwand.com/en/Solingen'>solingen, germany</a>.
    i do work for <a href='http://crr.io'>crrio</a> and <a href='http://github.com/pushcycle'>PUSHCYCLE</a>, but i also work on a lot of other
    open-source and general internet-y stuff. you can find a list of projects i work on on <a href='/projects'>this page</a>.
    my pronouns are he/him/his.
  br
  .text.-medium.
    i am a member of the <a href='https://nodejs.org/en/foundation'>node.js foundation</a>, and frequently
    contribute to the node.js website. also, i'm in the project's to-be <a href='https://github.com/nodejs/inclusivity'>
    inclusivity working group</a>.
  br
  .text.-medium 
    | you can find me on social media, mostly under jona or jonahugger:
    ul
      li.
        on GitHub: <a href='http://github.com/sup'>sup</a>
      li.
        on Twitter: <a href='http://twitter.com/jonahugger'>jonahugger</a>
      li.
        on Retrospring: <a href='http://retrospring.net/jona'>jona</a>
      li.
        on Keybase: <a href='http://keybase.io/j3'>j3</a>
    | if you're on something not listed here, odds are i might be there under jona or jonahugger.
  br
  .text.-medium.
    i also have a <a href='/blog'>blog</a>. i write posts on it, and as though i do so infrequently, maybe they might be of use to you. i mostly
    write small tutorials on there for javascript, node.js, meteor or anything else i find interest in.
  br
  .text.-medium.
    this page is statically generated using a <a href='http://metalsmith.io'>metalsmith</a> build script. if you're interested in
    knowing more about the build process, you can have a look at the site's <a href='http://github.com/sup/jona.io'>github repository</a>.
  br
  .text.-medium.
    (if you're interested in knowing more about ME, have a look at my professional <a href='/resume'>resume</a>)
