extends ../layouts/main.jade

block content
  .text.-huge hi, i'm jona.
  .text.-large._lessmargin i have a vibrant slogan
  
  .br-small
  
  a(href='/about')
    .button.button-red
      .button-title about
      .button-desc what you (n)ever wanted to know
  a(href='/projects')
    .button.button-yellow
      .button-title projects
      .button-desc what i do and also what i dont do
  a(href='/blog')
    .button.button-green
      .button-title blog
      .button-desc my derailed train of thoughts
