extends ../layouts/main.jade

block title
  title projects - jona

block content
  .text.-large projects
  ul.cards
    a(href='http://github.com/marblesoda/marble')
      li.item
        .title marblesoda
        .description an invite-only twitter clone
    a(href='http://github.com/sup/jona.io')
      li.item
        .title jona.io
        .description yes, this site
    a(href='http://github.com/retrospring/nsc')
      li.item
        .title nsc
        .description angular style commit generator
    a(href='http://github.com/ix/noodlesoup')
      li.item
        .title noodlesoup
        .description an anime blogging engine
    a(href='http://github.com/sup/vis')
      li.item
        .title vis
        .description music visualizer in javascript
    a(href='http://github.com/sup/youreasquidnow')
      li.item
        .title youreasquidnow
        .description making a meme in all languages
  
  .text.-large contributions
  ul.cards.-blue
    a(href='http://github.com/nodejs')
      li.item
        .title node.js
        .description website and inclusivity work
    a(href='http://github.com/Retrospring')
      li.item
        .title retrospring (discontinued)
        .description devops and javascript
  .text.-medium
    a(href='/') back to the index
