extends ../layout.jade

block content
  h1.large hi, i'm jona.
  .large-caption i do stuff
  
  .br-big
  
  a(href='/about')
    .button.button-red
      .button-title about
      .button-desc what you (n)ever wanted to know
