// blog: styles specifically for blog layout

ul.blog-list {
  list-style-type: none;
  padding: 0;
  font-size: 20px;

  li {
    .grey,
    p,
    a {
      display: inline-block;
    }

    .grey {
      color: gray;
    }
  }
}
