// blog: styles specifically for blog layout

.blog-list {
  list-style-type: none;
  padding: 0;
  font-size: 20px;

  > .item {
    margin-bottom: 10px;

    > * {
      display: inline-block;
    }
  }
}

.content {
  font-family: sans-serif;
}
