// buttons: fancy buttons!

.button {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
  color: black;

  &.-red {
    border: 1px dashed $red;
    transition: .3s background-color, .3s color;

    &:hover {
      background-color: $red;
      color: white;
    }
  }

  &.-yellow {
    border: 1px dashed $yellow;
    transition: .3s background-color, .3s color;

    &:hover {
      background-color: $yellow;
      color: white;
    }
  }

  &.-green {
    border: 1px dashed $green;
    transition: .3s background-color, .3s color;

    &:hover {
      background-color: $green;
      color: white;
    }
  }

  > .title {
    font-size: 18px;
  }
}
