a > .button {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
  color: black;

  .button-title {
    font-size: 18px;
  }

  &.button-red {
    border: 1px dashed $red;
    transition: .3s background-color, .3s color;

    &:hover {
      background-color: $red;
      color: white;
    }
  }

  &.button-yellow {
    border: 1px dashed $yellow;
    transition: .3s background-color, .3s color;

    &:hover {
      background-color: $yellow;
      color: white;
    }
  }

  &.button-green {
    border: 1px dashed $yellow;
    transition: .3s background-color, .3s color;

    &:hover {
      background-color: $yellow;
      color: white;
    }
  }
}
