// cards: card layout, used in the projects section

ul.cards {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.-white {
    > a > .item {
      border: 1px white solid;
      background: black;
      color: white;

      &:hover {
        background: white;
        color: black;
      }
    }
  }

  > a > .item {
    color: black;
    display: inline-block;
    border: 1px black dashed;
    width: 40%;
    max-width: 40%;
    padding: 30px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: .2s background, .2s color;

    > .title {
      font-size: 20px;
      font-style: italic;
    }

    &:hover {
      color: white;
      background: black;
    }
  }
}

@media all and (max-width: 1350px) {
  ul.cards > a > .item {
    width: 90%;
    max-width: 90%;
  }
}
