.flat-list {
  > .item {
    display: inline-block;
    margin-right: 5px;
    font-size: 25px;

    &:after {
      content: ' and';
      font-family: serif;
    }

    &:last-child:after {
      content: '';
    }
  }

  &.-no {
    margin-left: 10px;

    > .item {
      margin-right: 10px;0

      &:after {
        content: '';
      }
    }
  }
}
