.navigation {
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 0;
  border: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  &.navigation-green {
    background-color: #F6511D;
    li { color: #fff; }
  }

  li {
    display: block;
    padding: 1em;
    font-family: sans-serif;
    font-size: 14px;
    color: #aaa;

    a {
      text-decoration: none;
      color: inherit;
      padding: 7px;

      transition-duration: .2s;
      transition-property: background-color, color;
    }

    &.brand {
      font-size: 17px;
    }
  }
}

a {
  &.about:hover {
    background-color: #F6511D;
    color: #fff;
}

  &.projects:hover {
    background-color: #FFB400;
    color: #fff;
  }

  &.blog:hover {
    background-color: #7FB800;
    color: #fff;
  }

  &.mail:hover {
    background-color: #0D2C54;
    color: #fff;
  }
}
