body {
  font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Domine', serif;
}

.large {
  font-size: 50px;
}

.large-caption {
  font-size: 30px;
  margin-top: -20px;
}

.medium {
  font-size: 20px;
}

.br-small {
  padding: 20px;
}

.quote {
  font-style: italic;
  font-size: 40px;
  font-weight: 200;
  margin-top: 30px;

  span.quote-from {
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 15px;
    font-weight: 400;
  }

  span.quote-from::before {
    content: '- ';
  }
}
