body {
  font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Domine', serif;
}

h1.large {
  font-size: 50px;
}

.large-caption {
  font-size: 30px;
  margin-top: -20px;
}

.br-small {
  padding: 20px;
}
