li.item #[a(href='/about')#about about]
li.item #[a(href='/projects')#projects projects]
li.item.-brand #[a(href='/') jona]
li.item #[a(href='/blog')#blog blog]
li.item #[a(href='mailto:jona@jona.io')#mail jona@jona.io]
