extends main.jade

block navbar
  ul.navbar.navbar-green
    include partials/navbar-content.jade

block content
  h1 blog posts
  ul.blog-list
    each page in pagination.files
      li
        .grey= page.sdate
        |  >> 
        a(href='/blog/#{page.short}')= page.title
