extends main.jade

block navbar
  ul.navbar.-green
    include partials/navbar-content.jade

block content
  .text.-large blog posts
  ul.blog
    each page in pagination.files
      li.item
        .text.-grey= page.sdate
        |  >> 
        a(href='/blog/#{page.short}')= page.title
