extends main.jade

block styles
  link(rel='stylesheet' href='/css/prism.css')

block scripts
  script(src='/js/prism.min.js')

block navbar
  ul.navbar.navbar-green
    include partials/navbar-content.jade

block content
  h1= title
  .blog-contents
    p!= contents
  
  .br-small
  a(href='/blog')
    .button.button-green
      .button-title back to the blog
  .br-small
