extends main.jade

block styles
  link(rel='stylesheet' href='/css/prism.css')

block scripts
  script(src='/js/prism.min.js')

block navbar
  ul.navigation.navigation-green
    include navbar.jade

block content
  - var c = contents
  h1= title
  p!= c
  
  .br-small
  a(href='/blog')
    .button.button-green
      .button-title back to the blog
  .br-small
