extends main.jade

block styles
  link(rel='stylesheet' href='/css/prism.css')

block scripts
  script(src='/js/prism.min.js')

block navbar
  ul.navbar.-green
    include partials/navbar-content.jade

block content
  .text.-large= title
  .text.-grey._lessmargin #{sdate} by #{author}
  hr
  .text.-medium
    p!= contents
  
  .whitespace.-small
  a(href='/blog')
    .button.-green
      .title back to the blog
  .whitespace.-small
