.cards {
  list-style-type: none;
  margin: 40px 0;
  padding: 0;

  &.negative {
    > a > .item {
      border: 1px #f6f6f6 solid;
      background: black;
      color: white;

      &:hover {
        background: #f6f6f6;
        color: black;
      }
    }
  }

  > a > .item {
    color: black;
    display: inline-block;
    border: 1px black dashed;
    width: 100%;
    max-width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: .2s background, .2s color;

    &:hover {
      color: white;
      background: black;
    }

    > .title {
      display: inline-block;
      font-style: italic;
      font-size: 20px;
      margin-right: 10px;
    }

    > .description {
      display: inline-block;
      color: gray;
    }
  }
}
