body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Charter', serif;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: #4467F6;

  &:visited {
    color: #4467F6;
  }

  &:hover {
    color: #1134C3;
  }
}

hr {
  border: 0;
  border-bottom: 1px lightgray solid;
}

.container {
  margin: 100px 22% 0 22%;
}

@media all and (max-width: 1000px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
