// global: stuff that doesn't fit anywhere else

body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: 'Charter', serif;
}

a {
  text-decoration: none;
  color: $link;

  &:visited {
    color: $link;
  }

  &:hover {
    color: darken($link, 20%);
  }
}

hr {
  border: 0;
  border-bottom: 1px lightgray solid;
}

img {
  max-width: 100%;
}

.container {
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 30px;
}

@media all and (max-width: 1000px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
