.list {
  margin-left: 10px;

  & > .item {
    display: inline-block;
    margin-right: 5px;
    font-size: 25px;
  }

  &.and > .item {
    margin-left: -10px;
    margin-right: 10px;
    font-weight: bold;

    &:after {
      content: ' and';
      font-family: 'Charter', serif;
      font-weight: 400;
      font-size: 25px;
    }

    &:last-child:after {
      content: '';
    }
  }
}
